html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Courier New, monospace;

}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.navbar a {
    text-decoration: none ;
}
.navbar .title {
    color: white ;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.navbar {
    padding: 20px;
    background: linear-gradient(90deg,rgba(141, 48, 217, 1) 0%, rgba(44, 44, 184, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    color: white ;
    font-size: 35px;
    padding: 8px 15px ;
    border-radius: 5px;
    transition: all 0.3s;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 0;
    justify-content: space-around;
    border: solid 2px white;
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
    color: white !important;
}
.navitem {
    font-weight: bold;
    font-size: 70px;
    padding: 20px;
}
